[2011-06-16 18:59] afuzzyllama opened #4 "bug fix for instance()"
Line 146 should read
    if (in_array($logDirectory, array_keys(self::$instances)))

because if it doesn't every time the instance is called it will be recreated.

[2011-12-19 09:33] webbird opened #7 "KLogger fails if log handle is not a resource"
I've encountered an error that occurs when fopen() does not return a valid file handle. The KLogger class never checks if the file handle is a valid _resource_.

In method __construct():
if (($this->_fileHandle = fopen($this->_logFilePath, 'a'))) {

This just checks if there's something returned by fopen(), not if it's a valid resource handle.

Same here (__destruct()):
        if ($this->_fileHan

[2012-07-02 18:16] cwill747 opened #11 "Bug - Args not printed on logDebug(msg, args)"
Args are not printed on logDebug. This is because the $args variable was never passed in the logDebug() function.

[code]

should be

[code]

[2012-07-02 18:19] #11 closed, assigned to nobody

[2012-09-12 22:35] tragicrock opened #13 "KLogger class initialization"
Would probably be good to add the following to your KLogger.php file:

if (!class_exists('KLogger')) {
    class KLogger
    {
        ...
    }
}

I only say this b/c otherwise you have to wrap every include / require with the check.  Since this is a logging class, by it's definition it will likely be called / instantiated many times in page builds with errors / notices in them.

Just a thought.

[2013-02-13 13:36] staabm opened #17 "psr3 compilance"
would be nice to have a small adapter class inside klogger which adapts the public interface to psr3

https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-3-logger-interface.md

[2013-04-23 04:25] tohagan opened #20 "@link in source code should point to https://github.com/katzgrau/KLogger"
Thanks for KLogger!

[2013-07-17 10:28] mbutomax opened #23 "Specific Log Name in constructor"
Wouldn't be useful to give the opportunity to choose the name file in the constructor?
Maybe this simple yet powerful log engine could be used more than one time in a project. Naming a log is something very important in some environments. And there is often a naming convention to follow.

[2013-12-05 12:21] pokorny opened #26 "Add support for Composer"
It would be nice to have a composer.json definition even for small project like this one.
http://getcomposer.org/

[2014-03-19 15:37] mackenza opened #29 "Packagist package is not correct"
This may not be your problem at all but I just tried to use your package through `Composer` and the official `Packagist` site and it is not correct.

It seems a Github user named mediahack has cloned, but not forked the old klogger repo and submitted it to `Packagist`.  The problem is, it's not going to update properly with `Composer` because it's a separate repo.

I don't know if `Packagist` has

[2014-04-18 07:16] roydux opened #30 "Should be init with a file name prefix,not a directory"
I think it's better like this:

$log = KLogger::instance('module1','KLogger::ERROR');
$log.log();

then generate files like this:
module1-log-2014-04-14.txt

it's better the create a directory named module1.

[2014-12-02 15:13] DannyBen opened #34 "Suggest to allow output to screen / stdout."
Setting the log dir to `/dev/tty` does not work, since you append the filename.
But changing it hardcoded in the file, to output to `/dev/tty` prints the log nicely to the screen.

Perhaps make a check for this condition and not try to append a filename and check for its `exists` status?

[2015-01-19 16:01] Ultrabenosaurus opened #35 "[feature] optional JSON output"
While the current format is certainly human-readable, and from the description and code KLogger certainly seems like a good tool, I think it could be helpful to add a toggle for JSON output. This would greatly aid users who want machine-readable logs, the main use-case I can think of would be a web dashboard with an area that lets you search and filter logs to for reading.

It could be a simple to

[2015-02-17 11:00] Jarzka opened #36 "Docs out of date"
Hello

I noticed that some docs are out of date.

For example:
    /**
     * Class constructor
     *
     * @param string  $logDirectory       File path to the logging directory
     * @param integer $logLevelThreshold  The LogLevel Threshold
     * @return void
     */
Return type is invalid.

    /**
     * Sets the Log Level Threshold
     *
     * @param string $dateFormat Valid format strin

[2015-02-17 11:01] Jarzka opened #37 "class Logger extends AbstractLogger?"
Hi

It seems that Logger extends AbstractLogger which is not defined anywhere?

[2015-02-17 23:07] katzgrau commented on #37
Hi! Since KLogger is now a composer package, it requires and implements the pph-fig logger interface AbstractLogger described here: https://github.com/php-fig/log

If you need a more stand-alone version, you might be able to use and older release of KLogger, which is available here (use the most recent 2012 release)

[2015-02-17 23:07] #37 closed

[2015-02-27 00:01] #36 closed

[2015-02-27 00:02] #29 closed

[2015-02-27 00:02] katzgrau commented on #17
Done as of 2014

[2015-02-27 00:02] #17 closed

[2015-02-27 00:03] #20 closed

[2015-02-27 00:05] katzgrau commented on #7
According to PHP docs, fopen returns:

* @return resource a file pointer resource on success, or false on error.

So i think a check may be redundant

[2015-02-27 00:05] #7 closed

[2015-02-27 00:07] katzgrau commented on #13
Thanks for the suggestion! I know in some projects it's a habit (like Wordpress), but I'll leave this out mainly because I'd rather the user know about potential multiple includes, etc.

Sorry for the time warp :)

[2015-02-27 00:07] #13 closed

[2015-02-27 00:07] #4 closed

[2015-02-27 00:07] katzgrau commented on #26
Done (a while ago), my fault for not closing this

[2015-02-27 00:07] #26 closed

[2015-02-27 00:08] katzgrau commented on #23
Okay, okay. I'll add this.

[2015-02-27 00:08] katzgrau commented on #23
PS, w

[2015-02-27 00:09] katzgrau commented on #35
Interesting - let me think about it

[2015-02-27 00:09] #35 closed

[2015-02-27 02:23] jdunham22 commented on #34
would like to help on this, @onnovos did you mod the code?

[2015-03-02 16:54] onno-vos-dev commented on #34
(Continuing from my personal account)

@jdunham22 Yes I did and got it working when implementing customized log directory and logname as passables in the constructor. (See Pull Requests below) I haven't tried in an older version as @katzgrau already stated he wanted to implement that PR anyway.

*nix:

[code]

Windows:

[code]

@katzgrau to avoid you having to merge a ton of Pull Requests, is it O

[2015-03-02 17:09] onno-vos-dev commented on #34
Now that I've been playing with this, I can see a use case for writing BOTH to file and stdout. Anyone objects with implementing this as an extra callable in the constructor?

The below suggestion would allow to pass php://stdout as a $logDirectory if you only want to output to STDOUT while passing a $logName and TRUE would both output to file and STDOUT. Might be a neat implementation? :+1:  :-1:

[2015-03-02 17:14] katzgrau commented on #34
Actually, I have a major change to support prefixes and file extensions. Because of the increased number of options, I'm just adding a third param (assoc array) to the constructor to take things that are basically just options.

Sit tight and I'll push those, hopefully today

[2015-03-02 17:15] onno-vos-dev commented on #34
Cool, once pushed, I'll create a PR for this Issue if you don't take care of it already :) :+1:

[2015-03-02 17:40] jdunham22 commented on #34
I made my own changes to handle logging to php://* but I don't think it's anything special.  One separate idea is that if the private methods and properties became protected, it would be a lot easier to extend the functionality of the class.

[2015-03-05 19:57] katzgrau opened #38 "Update docs to include details on options"

[2015-03-05 19:58] katzgrau opened #39 "Support setting log line format"
Provide a way to set the format that a log line is written

[2015-03-05 20:00] katzgrau opened #40 "Provide convenience methods"
$log->debug, $log->error, etc

[2015-03-05 20:04] katzgrau commented on #40
Whoops, provided in AbstractLogger

[2015-03-05 20:04] #40 closed

[2015-03-05 20:15] #38 closed

[2015-03-05 20:29] katzgrau commented on #23
https://github.com/katzgrau/KLogger/commit/42461f1c7c7e286a9cd0d9aa1fc7b2d269f932c0

[2015-03-05 20:29] #23 closed

[2015-03-05 20:29] katzgrau commented on #30
Done - see latest readme

[2015-03-05 20:29] #30 closed

[2015-03-10 18:26] onno-vos-dev commented on #39
@katzgrau What is your idea with this? I'm willing to help out but would like to have a pointer what it is that you're looking for :)

[2015-03-10 18:37] katzgrau commented on #34
Merged

[2015-03-10 18:37] #34 closed

[2015-03-10 18:40] katzgrau commented on #39
@richjenks is having a look, but in general, being able to supply a template for the log lines inside the file. It would give the user more flexibility to make the logs readable, machine readable, etc
[code]

[2015-03-10 19:08] onno-vos-dev commented on #39
Cool, let me know if you'd like me to help out on it as well.

I don't want to start commenting on a closed issue, but perhaps we could include issue #35 in this issue in that case?

wdyt @katzgrau ?

(I would like to help out expand KLogger seeing as I make use of it on a daily basis, I wanna return the favor! :+1: )

[2015-03-10 21:32] katzgrau commented on #39
Thanks!

Let's let @richjenks implement the shortcode-style of specifying a format, and then if you're interested, maybe implement a shortcode such as `[json]` to specify json output?

[2015-03-19 13:51] drasive opened #46 "How to get version 1.0.0 using Composer"
Hi,
I am unable to get version 1.0.0 using [Composer](https://getcomposer.org/). I always get v0.2.0, where the constructor didn't have the "$options" argument.

I tried  ```"katzgrau/klogger": "1.0.*"``` and  ```"katzgrau/klogger": "dev-master"``` but it doesn't seem to make a difference.

Does anybody have an idea what I could be doing wrong?

[2015-03-19 14:05] drasive commented on #46
Nevermind, using ```"katzgrau/klogger": "dev-master"``` actually downloaded version 1.0.0, I just checked in the wrong folder.

[2015-03-19 14:05] #46 closed

[2015-04-03 08:59] lloc opened #47 "README "master" vs. "develop""
The file README.md features the third parameter of the constructor which is only available in the "develop"-branch but not in "master".

[2015-04-09 15:24] tleb opened #48 "Extension, filename and prefix not applying"
Hello,

for some reason, the extension, filename and prefix settings do not apply.

[code]

In `index.php`:

[code]

It creates the log file, but in standard format `log_2015-04-09.txt`. Any explanation? Is it linked to my environment, so that I am the only one to have this issue?

[2015-04-09 15:43] onno-vos-dev commented on #48
You're using the outdated Katzgrau when you pull it in like that.

Use: composer require katzgrau/klogger:dev-master

instead to pull in the latest master branch. Then your code runs fine and I'm getting the correct fileformat :)

[2015-04-09 15:47] tleb commented on #48
Sad it's not written anywhere. Even the README recommends using `composer require katzgrau/klogger:1.0.*`, which would lead to the same problem.

Why is it not 1.0.1 ?

[2015-04-09 15:47] onno-vos-dev opened #49 "Update ReadMe to have composer install dev-master"
The ReadMe and Composer.json should be updated to state that that dev-master should be pulled instead.

Alternatively, version 1.0.0 on composer should fetch the latest master.

See: https://github.com/katzgrau/KLogger/issues/48

[2015-04-09 15:48] onno-vos-dev commented on #48
I just opened an issue for this :)

[2015-04-09 15:48] onno-vos-dev commented on #49
@katzgrau Want me to submit a PR? I'm quite swamped today and tomorrow but I can submit a PR on the weekend if you'd like.

[2015-04-09 15:50] tleb commented on #48
Works now. :smile: Am I the first one to fall into this? Oo

[2015-04-09 15:51] onno-vos-dev opened #50 "If filename is provided, we should check if an extension is provided in the filename"
Currently on Line 124 of Logger.php we check if the filename is provided. If so, we accept the filename as is without adding or checking for an extension.
[code]

I suggest we do an additional check if the extension is provided as well. If not, the default logfile name should be chosen instead. This to prevent users from being able to add a filename and "expecting the default logextension" to be a

[2015-04-09 15:52] onno-vos-dev commented on #50
@katzgrau I can submit a PR on the weekend for this so you can leave this for me.

[2015-04-09 15:52] onno-vos-dev commented on #48
Nope, @drasive fell for this as well as can be seen in https://github.com/katzgrau/KLogger/issues/46

[2015-04-12 23:58] katzgrau commented on #50
Thanks! Will hit this up tomorrow AM

[2015-04-12 23:58] katzgrau commented on #49
Thanks! Will hit this up tomorrow AM (yes, repeat of the last PR comment :) )

[2015-04-13 14:33] #50 closed

[2015-04-13 14:33] #49 closed

[2015-04-13 14:34] #48 closed

[2015-04-13 14:37] #47 closed

[2015-04-17 11:03] richjenks opened #55 "Custom callback"
Does anyone think the addition of custom callback feature would be of value? It could be passed the `Logger` object and/or `Logger::lastLine` and would open a lot of possibilities, for example:
- Send an email if the level is `notice` or higher
- Log `emergency` issues to a separate file
- Mirror logs to a database
- Delete/archive log files on a schedule

The developer would have to write the imp

[2015-04-17 11:06] onno-vos-dev commented on #55
@richjenks I currently have a custom layer on top of KLogger which sends out an email alarm if a critical or error level is detected. Also, it's able to parse the logfile to a database so yes I think this could be a nice feature!

Let me know if you need any help as you might be able to get some inspiration of my codebase.

[2015-04-17 11:19] richjenks commented on #55
@onno-vos-dev I do the same thing too and thought it would feel cleaner as a callback rather than a wrapper class. It would at least decouple the logger and custom code a bit.

Is your custom layer available online so I can have a look? I have a basic idea of how this would work but would appreciate a use-case for perspective.

[2015-04-17 11:25] onno-vos-dev commented on #55
@richjenks I'll email you tonight or on the weekend. :) Email from your Git page ok?

[2015-04-17 11:32] richjenks commented on #55
@onno-vos-dev thanks and yep, email on my profile is correct, I'll keep an eye out for it :)

[2015-04-29 10:54] richjenks commented on #39
Can this be closed in light of https://github.com/katzgrau/KLogger/pull/54?

[2015-04-29 12:59] katzgrau commented on #39
Yep

[2015-04-29 12:59] #39 closed

[2015-05-31 09:11] tleb commented on #55
Would it not be a better implementation to use filters: callbacks would have a list of rules, if each rule is met, then the callback is called? Of course, a callback could not have any rule.

[2015-06-06 18:05] dyedgreen opened #57 "Dependency free / stand-alone version"
It would be cool if there was a dependency free, one-file version of KLogger. It would be easier to integrate into projects that don't use composer.

[2015-06-06 18:13] tleb commented on #57
Why would one create a project without using Composer? :smile:

[2015-06-07 13:37] vanjor opened #58 "throw exception when parameters object is null"
Argument 2 passed to Psr\Log\AbstractLogger::info() must be of the type array, null given

when calling $logger->info("raise the log", null);

[2015-06-08 16:23] onno-vos-dev commented on #57
Even though I don't see why it would make a lot of sense, it's actually quite easy to do.

All you gotta do is remove the LogLevel dependency and you're good to go. I've done this purely for illustrative purposes. I WILL not maintain that fork, it's purely to illustrate that it isn't that difficult to do if you really need this.

https://github.com/onno-vos-dev/KLogger_single_file

[2015-06-08 16:27] onno-vos-dev commented on #58
@vanjor  What exactly is your point?

The call is quite clear, it must take an array... Whether or not that functionality should be expanded to include other types of context, is a valid discussion in my opinion but you don't raise such point.

Adding null as a context won't add anything to your logfile and no matter what type of context we would allow, it would always look kinda odd.

[2015-06-08 16:28] katzgrau commented on #57
You might be interested in past KLogger versions (check the tags) - they were all standalone. KLogger's evolved a bit since then, but the original version still serves it purpose just fine

[2015-06-08 16:28] #57 closed

[2015-06-08 16:31] katzgrau commented on #58
Agreed w/ @onno-vos-dev

If you've got a concrete idea of what/how you think it should work, submit a PR and we'll have a look over.

[2015-06-08 16:31] #58 closed

[2015-06-08 16:48] onno-vos-dev commented on #58
(Sorry to comment on a closed Issue @katzgrau )

Just to add to this:

If we would like to include other forms of context, it would automatically mean we would deviate from the PSR-3 LoggerInterface as that only allows for $context to be of type array. Again, whether or not this is the best solution, I think is worth thinking about but breaking the LoggerInterface in favor of KLogger does not soun

[2015-06-09 00:50] vanjor commented on #58
Thanks to both.

Actually I does not expect logging function raise the exception, for PHP is a weak type as many function expected to return array, but return null at some case.

accept @onno-vos-dev suggest,though this substituted way is a little bit verbos:)

[2015-07-16 11:35] fbm-static opened #60 "Parse logfile?"
Hello,

Is there a way to parse the lines of a logfile given that, I know the format used to write these lines?

Thanks.

[2015-07-16 11:37] onno-vos-dev commented on #60
You can do this quite easily using regular expressions. I wrote a class for doing just this but unfortunately I can't share it due to company restrictions.

What exactly do you need because I can share some details with you :)

[2015-07-16 17:14] katzgrau commented on #60
Definitely - although I'm not sure it qualifies as an issue for KLogger :)

[code]

[2015-07-16 17:14] #60 closed

[2015-07-16 17:27] tleb commented on #60
[code]

Where does your `$match` come from? :)

Also, wanted to say that there is no real place to ask questions about a project (not talking about KLogger specifically). [Gitter](https://gitter.im/babun/babun) tries to solve the problem, but it is not used by a lot of projects, and the chat format isn't perfect.

[2015-07-16 17:30] katzgrau commented on #60
Typo, that should be `$matched` (fixed)

[2015-07-16 17:35] onno-vos-dev commented on #60
@katzgrau: Maybe we can setup a sub-repo for discussions? No code just a place for people to ask questions and what not :)

Perhaps even move this project to its own Github page so we can host stuff like a parser as well? I'm sure I can refactor the parser to a point where I could share it.

Just a wild idea...?

[2015-07-17 03:22] fbm-static commented on #60
Right, a simple regex should've done it. What was I thinking? Thanks.

[2015-07-17 06:35] onno-vos-dev commented on #60
If you need any help just ping me :)

[2015-07-31 14:53] teliov opened #61 "DateTime Fatal Error with PHP 5.6.11"
I get this error when I try to use Klogger:
"
PHP Fatal error:  Uncaught exception 'Exception' with message 'DateTime::__construct(): It is not safe to rely on the system's timezone settings. You are *required* to use the date.timezone setting or the date_default_timezone_set() function. In case you used any of those methods and you are still getting this warning, you most likely misspelled the ti

[2015-07-31 14:56] onno-vos-dev commented on #61
It should still continue if I'm correct?

Adjust:
php.ini - Line 937 (or around there at least)
[Date]
; Defines the default timezone used by the date functions
; http://php.net/date.timezone
date.timezone = "Europe/Stockholm"

Uncomment the date.timezone line and set your timezone. That should get rid of the error for now.

This is caused because we're using a slightly outdated date() function in

[2015-07-31 15:03] teliov commented on #61
Yeah, was just googling around and saw that suggestion.
It did not contiue execution though. Fatal error in this case was very fatal.

But thanks, i'm implementing your adjustment now

[2015-07-31 15:06] teliov commented on #61
No more errors or warnings.
Merci!

[2015-07-31 15:06] #61 closed

[2015-07-31 15:11] onno-vos-dev commented on #61
You must have had very strict errors on your php.ini config then :+1: I can only applaud.

I got confused because the fatal error said:
We selected the timezone 'UTC' for now, but please set date.timezone to select your timezone.

Which means it SHOULD continue as it now obviously made the decision to choose UTC.

[2015-07-31 15:17] teliov commented on #61
Hmm, true I guess.

Seems though that the DateTime::_construct() threw an exception even after it seemed to have picked UTC. I believe it was this uncaught exception that terminated the program

[2015-07-31 15:26] onno-vos-dev commented on #61
Actually now that I look further into it, it's caused by: [Line-307] (https://github.com/katzgrau/KLogger/blob/master/src/Logger.php#L307) which is where we already use the DateTime class.

@teliov In order for me to replicate this, could you send me the parameters you sent into the constructor?

Did you send in a custom filename or did you let KLogger take care of this?

Because if you let KLogge

[2015-07-31 16:34] SerikDM opened #62 "Different log files in same class"
What about having different log files? i.e. to have one file for database logs, another for payment services, another for core issues, and so on?

[2015-07-31 16:35] katzgrau commented on #62
Why not different instances of KLogger?

[2015-07-31 16:37] onno-vos-dev commented on #62
Damn Kenny you were fast! Different instances of Klogger should do the trick. Implementing different log files inside Klogger would require a lot of modifications and break PSR standards on multiple function calls.

[2015-07-31 16:38] SerikDM commented on #62
onno-vos-dev thank you for your comment. I was afraid of high memory usage.

[2015-07-31 16:38] #62 closed

[2015-07-31 16:40] onno-vos-dev commented on #62
Klogger is pretty memory friendly :) I think you'd have more memory issues at other places of your code than Klogger. I have used Klogger to generate enormous logfiles containing millions of rows with no performance issues whatsoever :)

[2015-07-31 16:43] katzgrau commented on #62
I was following the convo, but out of pocket until now ;)

Re memory usage, I'd say the (negligible) memory usage issue is outweighed by the annoyance of a developer having to do something like:

[code]

It's small, but having an extra parameter everywhere would get old quickly. Plus a wrapper class would take 10 minutes to write and serve your needs perfectly. But as @onno-vos-dev  said, the bigg

[2015-08-31 17:05] webbird opened #64 "Option to tabulate log lines"
I thought my log file would be more readable if all messages are indented with the same depth, no matter what `$level`. Example:

original

    [2015-08-31 19:02:49.181617] [info] dumdidum
    [2015-08-31 19:02:49.182616] [emergency] mist

nicer

    [2015-08-31 19:03:27.268881] [info]      dumdidum
    [2015-08-31 19:03:27.268881] [emergency] mist

So I changed line 553 (method `formatMessage()`)

[2015-08-31 20:12] tleb commented on #64
Seems like a nice feature, why not a PR?

[2015-08-31 20:19] katzgrau commented on #64
Really? Maybe if it was a configurable option. I'm really feeling like this is a *nice to have* that may end up requiring more changes than expected.

But in the end, not something that would make or break someone's decision to use the library.

@onno-vos-dev @richjenks ?

[2015-08-31 20:59] onno-vos-dev commented on #64
(My personal opinion)

Personally, I'm not a fan of this sort of indenting. I think the log message gets separated too much from the loglevel and makes your eyes scan back and forth between the loglevel and the logmessage. I prefer my code and my logfiles to be as clean as possible with only the absolute necessary amount of whitespace. This fix clutters the logfile with unnecessary whitespace if y

[2015-09-01 09:18] webbird commented on #64
Please, this was just for people who may need it to. I didn't want to start a lengthy discussion about pros and cons, likes and dislikes, or something else. It's something _I_ found that it makes the logs more readable for _me_, not a feature request or anything. Just close this and that's it. Sorry for this.

[2015-09-01 10:40] richjenks commented on #64
I agree with @katzgrau and @onno-vos-dev

Perhaps this would be better as an example format param in the readme rather than a separate feature?

[2015-09-01 13:45] webbird commented on #64
I don't think you can make calculations in the format param?

[2015-09-01 13:47] richjenks commented on #64
You can do what you like with the format param, as long as it returns a string.

[2015-09-01 13:49] katzgrau commented on #64
I think it would have to be a special format param, like [level-padded]

[2015-09-01 23:59] katzgrau commented on #64
What does everyone think of #cbd026d?

[2015-09-02 00:02] katzgrau commented on #64
The reason I did it that way (ie, just whitespace) is that it gives the developer a bit of flexibility in how they arrange the log format.

[2015-09-02 07:41] richjenks commented on #64
I like it, does the job and is nice and simple.

[2015-09-02 08:26] onno-vos-dev commented on #64
@katzgrau I'm fine with this but will make a note that if you have a log-message which stretches multiple lines, you're still gonna have a messy log-file. Ideally you'd want to also pad the entire message to the same position so if a new-line is reached, that should be padded by the number of characters which are in "[{date}] [{level}]"

[code]

I'm fine with the commit you just made @katzgrau jus

[2015-09-02 08:49] richjenks commented on #64
I see what you mean, but I don't think it's practical because there may be formats that don't begin with date and level. For example, if the format is "[{date}] [Project name] [{level}]" then it would be pretty tricky to indent subsequent lines.

[2015-09-02 08:58] onno-vos-dev commented on #64
@richjenks  I know and I'm just adding my $0,02 that this won't be the magic bullet for the OCD-minded users of KLogger ;-)

[2015-09-02 08:59] richjenks commented on #64
@onno-vos-dev fair enough. If such people are that bothered, maybe they should just get wider monitors :)

[2015-09-02 09:09] onno-vos-dev commented on #64
@richjenks Agreed :+1: Either way, when you start having very verbose output, you're gonna get stuck with logfiles which may be hard to read by a human but they can be very useful for alarms, compliance or debugging reasons which is mainly why where I work, we produce very verbose logs.

[2015-09-02 13:34] onno-vos-dev opened #65 "Create and maintain a changelog"
Just wanted to open an issue to open a discussion on whether or not we should have a basic change log.

I know we haven't bumped version for a while but we should consider having a more consistent version-bumping and change log in place.

@katzgrau @richjenks wdyt?

[2015-09-03 07:04] richjenks commented on #65
I like the idea and also agree there should be some sort of release plan, if only to know what the next version will include and how to format the changelog.

[2015-09-03 17:29] onno-vos-dev commented on #65
How about we use Semantic Versioning?

http://semver.org

[2015-09-03 17:29] onno-vos-dev commented on #65
How about we use Semantic Versioning?

http://semver.org

[2015-09-04 08:14] richjenks commented on #65
I fully-support using semver. Would also be nice to release fairly soon with recent features!

[2015-09-04 09:26] onno-vos-dev commented on #65
I'll get to work on Sunday!

[2015-09-24 13:22] JohnArcher opened #67 ""Fatal error: Class declarations may not be nested" when debugging with Netbeans"
Hi there,

first I want to apologize if this not the right place to post this ... :-( I am using KLogger and PSR Log (https://github.com/php-fig/log) together with Symfony's ClassLoader Component (https://github.com/symfony/class-loader) to autoload KLogger and PSR Log.

My test code looks like this:

[code]

Everything works fine under this conditions:
1. I do not debug
2. I do debug (Netbeans, X

[2015-09-24 13:35] katzgrau commented on #67
Yeah, not really a KLogger problem. At least the problem seems limited to debugging and setting a breakpoint at a specific place. It could be a potential issue with xdebug. I would check php's error_log to see if there's anything more specific in there.

[2015-09-24 13:35] #67 closed

[2015-09-24 13:55] JohnArcher commented on #67
Thanks for your answer. Nope, error_log has no more infos.

[2015-09-24 17:43] onno-vos-dev commented on #67
I have never seen this issue before and done plenty of debug sessions.

Can you tell us your exact setup?

[2015-10-23 21:45] TeslaDethray opened #71 "New release for Packagist sourcing"
Sorry to bug you again!

I am wondering if it would be possible to make a new release of KLogger so that I can pull the source down on Packagist, please. Right now, users trying to install our package get an error message because we've sourced KLogger on dev-master, and (as I had forgotten) our minimum-stability is too high for that.

https://github.com/pantheon-systems/cli/issues/622

[2015-10-24 11:57] 7rust opened #72 "Ability to change the logFormat on the fly"
Just a simple method like **public function setLogFormat($pFormat);** to give the ability to change the format after the object creation.

    public function setLogFormat($pFormat)
    {
        $this->options["logFormat"] = $pFormat;
    }

e.g. After the user has accepted the terms of use, the ip-address or the username could be added to the logformat without creating a new logger object.

[2015-11-02 11:02] Sysix opened #73 "Set some Properties and Methods from private to protected"
Hello Guys,

at first, thanks for this simple Class!
But I have some problems with it.

I would like to extend the Class for Read the file. But some Properties and Methods are on private, so I can not use it on my child class.

Example: $fileHandle & $logFilePath

Thanks. Greetz Sysix

[2015-11-02 19:59] katzgrau commented on #73
Hi Sysix. What's your particular use case? Just curious

[2015-11-02 21:30] Sysix commented on #73
I want to read the file line by line. and extend the method "getLastLogLine" with it.
So that fileHandle is on private i can use the core handle and must make a self alone method.
Not pretty^^

[2015-11-03 20:56] 7rust commented on #72
Still no answer :cry:

[2015-11-04 01:18] katzgrau commented on #72
Yea, been thinking about this. In regard to:

After the user has accepted the terms of use, the ip-address or the username could be added to the logformat without creating a new logger object.

If the use case is for a webapp, wouldn't it involve creating a new logger object anyway, since it's a separate request? Am I missing something?

[2015-11-04 22:44] katzgrau commented on #71
Done - 1.2.0

[2015-11-04 22:44] #71 closed

[2015-11-04 22:45] katzgrau commented on #72
Closing, unless you've got a reason to reopen

[2015-11-04 22:45] #72 closed

[2015-11-05 00:06] TeslaDethray commented on #71
Thank you so much!

[2015-11-05 22:24] 7rust commented on #72
That was just an example. In my case I dont change the log writer object because its annoying to always share the configuration to each new logger instance. Instead of that I change the logformat using the function I've shown before. To implement that method I needed to change the klogger class because I wasnt able to extend a new class from the klogger class (same problem as mentioned here:https:

[2015-11-05 22:26] 7rust commented on #73
:+1: Same problem here. It's not possible to add your own functions to the Klogger class because you cant extend a new class from the Klogger class. The file handle should be declared as *protected* so other users can extend their classes from the Klogger class.

[2015-11-05 22:41] katzgrau commented on #73
How's that?

[2015-11-05 22:52] 7rust commented on #73
Brilliant, thanks! :)

[2015-11-06 08:30] Sysix commented on #73
:+1: thanks

[2015-11-06 08:30] #73 closed

[2015-11-07 15:51] katzgrau commented on #64
Officially in the latest release (1.2.0)

[2015-11-07 15:51] #64 closed

[2015-11-21 16:44] manu1895 opened #74 "Custom variable"
Hi,

I don't understand how to use custom variable?

    $logger = new Katzgrau\KLogger\Logger('C:/wamp/www/android-starter/logs', Psr\Log\LogLevel::DEBUG, array(
	    'extension' => 'log',
	    'logFormat' => '[{date}] [{level}] [$myCustomVar] {message}'
    ));

and now where i can use it ?

    $logger->info('my log');

[2015-11-30 23:29] katzgrau commented on #74
Hm, interesting idea, but it's not a supported feature at the moment. You could certainly extend KLogger and override the formatMessage method to achieve that though.

[2015-11-30 23:30] katzgrau commented on #74
I should add, you would also need to override the info/debug/etc methods

[2015-12-01 08:48] manu1895 commented on #74
Ok thanks for reply, I will try soon.

[2015-12-04 10:06] peterlaws opened #75 "Using other classes"
Where does it say this class uses other classes? Nowhere

[2015-12-04 10:09] onno-vos-dev commented on #75
I'm not really sure what the issue is here? It uses: https://github.com/php-fig/log as the log interface if that's what you're wondering about?

Please explain the issue at hand here?

[2015-12-04 10:23] peterlaws commented on #75
Where does it say you need to download that, from a n00b respective, except within the About section as a link.

[2015-12-04 10:23] #75 closed

[2015-12-04 10:46] onno-vos-dev commented on #75
Composer will take care of that for you :) Just use composer install and everything will be automagically handled for you :)

[2015-12-04 11:07] peterlaws commented on #75
I don't use composer though :)

Also, what is with the 'vendor/autoload.php'? I see no such file, only the 'Logger.php' file, so had to DIY include_once in the correct order.

[2015-12-04 11:27] onno-vos-dev commented on #75
I'd highly suggest you start using composer in that case. It takes care of loading all the dependencies and creating the vendor/autoload.php file for you.

Composer is a pretty wide spread tool within PHP development so you're going to encounter it in other places as well so you might as well start learning. Just do some reading on: https://getcomposer.org/

[2015-12-04 14:56] katzgrau commented on #75
@peterlaws It's pretty common to use 3rd party packages now (in this case, it's not even a package, but an interface nearly every logging lib implements). Dependencies are no longer the exception, but the norm. That goes for nearly every other language too: ruby, python, javascript, yada yada. They each have their own packages and package managers.

If you're interested in the older, standalone ve

[2015-12-04 18:17] peterlaws commented on #75
Why isn't this writing to the file?

      $path = '/blah/';
      $level = "Psr\Log\LogLevel::".$level;
      $options = array('dateFormat' => 'd-m-Y G:i:s.u', 'filename' => 'system.log');
      $logger = new Katzgrau\KLogger\Logger($path, $level, $options);
      $logger->error('Test');
      return $logger;
    }

[2015-12-04 18:37] katzgrau commented on #75
There could be other reasons, but two obvious ones:

* The $level variable is just a string containing a namespace. You would at least need to wrap it like: `$level = constant("Psr\Log\LogLevel::".$level);`
* Does the directory `/blah/` actually exist? Seems unlikely, unless it was just for example purposes.

By the way, that first mistake should have generated at least a PHP notice..

Anyway, I d

[2016-01-08 00:13] tobsn opened #76 "disable logging while leaving methods in place"
Is there any way to turn off logging completely?
I want to turn it on/off depending on environment.

currently I'm handling it this way:

    $this->log = new Katzgrau\KLogger\Logger(
        __DIR__.'/logs',
        (
            ( getenv('APP_ENV') == 'production' )
            ? Psr\Log\LogLevel::EMERGENCY
            : Psr\Log\LogLevel::DEBUG
        )
    );

[2016-01-08 01:43] katzgrau commented on #76
There used to be a log level named ::OFF, but since we switched to implementing the PSR class it went away.

Adding an enable($bool) method to disable logging would probably be a decent idea, although I'd probably imagine you really would want EMERGENCY errors in any environment, right?

[2016-01-08 02:39] tobsn commented on #76
well... it's deployed to elastic beanstalk so textfile logging is pretty useless since it would happen on any of many servers - error handling is done via bugsnag so that's sorta taken care of. I use it purely locally and on staging (one server) which is why I wanted a nice log file but all that should be silent on production. technically the emergency workaround would work since I only use debug(

[2016-01-09 18:39] katzgrau commented on #76
There's always xdebug and ChromePHP - found them both pretty useful in the past: http://xdebug.org/

As for the second param - we're just following the logger interface: https://github.com/php-fig/log/blob/master/Psr/Log/AbstractLogger.php

[2016-01-09 18:39] #76 closed

[2016-05-13 12:25] martinjinda opened #77 "Class Logger not found"
Hi guys,

I've just install KLogger via composer and I set the same options as in **Basic Usage** and I've got this error.
`Fatal error: Class 'Katzgrau\KLogger\Logger' not found`

If I try require just `Logger.php` from `src`. I've got an error:
`Fatal error: Class 'Psr\Log\AbstractLogger' not found`

[2016-05-13 13:32] tleb commented on #77
Hello,

Have you required the composer autoloader?

[code]

[2016-05-13 21:18] katzgrau commented on #77
Closing since it's not a KLogger issue, just composer usage issue

[2016-05-13 21:18] #77 closed

[2016-06-07 17:58] sebka opened #78 "Warning: fwrite(): 38 is not a valid stream resource - only in lambda call"
PHP Version 5.6.3

For my actual project i use a mix of klein.php for routing and KLogger for filelogging.

The logger is instanced in general in the app handler, and available in the routing classes which call "klein" routes inside:

	<?php

	namespace Router\Routes;

	class GetHostInformations extends Base{

		public function init() {
			$that = $this;

			$this->getLogger()->debug('works');

[2016-06-08 14:44] #78 closed

[2016-06-08 15:46] katzgrau commented on #78
Was there a resolution, whether related to KLogger or not?

[2016-06-08 16:01] sebka commented on #78
Iits not related to klogger:
I called Klogger in the destruct process of my app, where the filehandle of klogger is not any more available. my fail :)

[2016-07-29 01:00] shash7 opened #79 "Split log file into smaller files"
Hi guys just confirming Klogger doesn't have any functionality where it will automatically split large log files(say >5mb) into smaller log files eh?

If not that would be a good functionality to have.

[2016-12-15 07:35] #55 closed

[2016-12-21 17:09] dscherertfm opened #81 "Non-Composer instructions"
Please provide a dependency list for those of us not using composer.

[2016-12-21 17:13] onno-vos-dev commented on #81
It's next to impossible to provide you with a dependency list. How come you're not using composer yet? It's trivial to run composer... Once composer has built the directory structure you're free to copy this directory into your application if you must avoid using composer...

[2016-12-21 17:17] katzgrau commented on #81
Use a pre-1.0.0 release: https://github.com/katzgrau/KLogger/releases

Package management is just the reality of modern web-dev - you're probably wasting quite a bit of your time if you choose not to use it. Asking any project to list dependency chains is clearly impractical (and if you disagree, you're taking it up with the wrong people).

[2016-12-21 17:17] #81 closed

[2016-12-21 17:18] dscherertfm commented on #81
I've gone 10+ years without Composer and haven't had a need for it yet. Seems like a lot of overhead to write/learn configuration files and whatnot to do what I can do with a mouse and a keyboard in a couple seconds most of the time. Plus the one time I did try to use composer the autoloader screwed with the autoloading for the application.

[2016-12-21 17:19] dscherertfm commented on #81
It's impractical to list dependency chains? Oh dear....

[2016-12-21 17:20] onno-vos-dev commented on #81
I don't want ant to buy  either harsh but times are changing. Composer Ansbach other package managers are simply a fact of life nowadays.

If composer screwed with your autoloader you're probably doing something wrong.

[2016-12-21 17:22] katzgrau commented on #81
Fine, but web development will continue to move forward regardless of whether you need to use modern tools. At some point, you're making your knowledge/skillset obsolete.

[2016-12-21 17:25] dscherertfm commented on #81
Times are certainly changing, and I'm sure people have found package management convenient. Regardless I'd rather not be blind to dependencies. I also sincerely doubt that my avoiding package managers is going to make my ability to continue to write modern software obsolete.

[2016-12-21 17:34] katzgrau commented on #81
Ok, agree to disagree. I really can't spend any more time on this — please open an issue with literally any other npm/rubygem/apt/yum/composer package repo and ask them for the dependency chain.

[2017-06-12 15:58] aluminumpork opened #82 "Option for current log to be named differently than historical logs"
It would be useful if the current day's logs could be written to a specifically titled file (such as current.log). As the date changes, that file should be renamed to the configured date format. This would make it far easier to monitor the current logs using external utilities.

Thoughts?

[2017-06-12 16:16] onno-vos-dev commented on #82
I am curious for your use case though? I mean most external utilities should be able to work either way and I fail to see why current.log would make any difference?

Can you explain a bit more? :)

[2017-06-12 18:40] aluminumpork commented on #82
From a purely practical perspective, it makes it visually obvious where the most recent logs are located.

My actual use case is with a development/deployment tool called Nanobox. They have a log monitoring feature that aggregates your app's logs (perhaps from multiple instances) to a centralized dashboard (with alert features sprinkled in). Their feature cannot monitor a directory, but a single l

[2017-06-12 20:17] katzgrau commented on #82
Not to pass the buck here, but couldn't this be achieved with a one-line cron job?

`cp current.log log_$(date +%F).log && cat /dev/null > current.log`

Doing it from within the class would involve constant checking of the filesystem - on every instantiation of the class - which seems a bit silly since it's only something that needs to happen once a day.

[2017-06-12 20:22] aluminumpork commented on #82
@katzgrau This is what I've ultimately done. I just wanted to throw it out there and get your thoughts. I appreciate your feedback!

[2017-06-12 20:22] #82 closed

[2017-10-11 00:47] ryan-nash opened #84 "Invalid JSON"
The method described in the README to get pure JSON appears to output invalid JSON.

This is the example output from the docs:

`{"datetime":"2015-04-16 10:28:41.186728","logLevel":"INFO","message":"Message content","context":"{"1":"foo","2":"bar"}"}`

It doesn't pass a JSON validator and causes json_decode() to return null.

This is valid JSON, without quotes around the context value:

`{"datetim

[2017-10-12 00:50] katzgrau commented on #84
Well then, guess we'll have to fix this one. Thanks for the report!

[2017-11-21 11:56] UweKeim opened #86 "Possible to have log rotation?"
Is it possible to automatically configure KLogger to rotate log files?

E.g.

- Max _m_ logfiles.
- Max _n_ MB per logfile.

[2017-11-21 12:08] onno-vos-dev commented on #86
You could easily setup log rotation on a system level. Probably the cleanest way to do it either way.

At the moment it is not supported though as this logger is intended as an extremely lightweight logger when you compare it to other loggers that are out there. Not sure what @katzgrau thinks about introducing such functionality?

[2017-11-21 12:19] UweKeim commented on #86
Thanks., I need to do it from PHP only. Probably will add some custom routine in my code to do so.

[2017-11-21 12:20] onno-vos-dev commented on #86
May I ask why? I'm assuming you'll have the possibility of setting logrotate on the machine/vm you'll be running your stuff from?

[2017-11-21 12:26] UweKeim commented on #86
Sure. We do use KLogger inside or (German only) [CMS](https://www.zeta-producer.com) where users simply deploy their website via a simple button click to their system (FTPS/SFTP).

Zero configuration on the underling system should be required.

[2017-11-21 12:28] onno-vos-dev commented on #86
It should be quite easy to follow up an instance of Klogger with something like: [rotate](https://github.com/studio24/rotate) (I'm not working with PHP anymore so I can't give you my experience but it seems to suit your needs.

[2017-11-21 12:28] UweKeim commented on #86
That looks awesome, thanks a lot!

[2017-11-22 19:59] #86 closed

[2017-11-29 00:19] jvalleroy opened #87 "Support phpunit v6"
For phpunit v6.0.0 and later, need to change ```PHPUnit_Framework_TestCase``` to ```PHPUnit\Framework\TestCase```.

[2017-12-01 19:46] #87 closed

[2018-01-20 23:36] johnykvsky opened #89 "Klogger creates empty file even if not used to log() anything"
After playting with Slim (middleware and stuff) I noticed that when logger is created and even not used, a log file is created with zero size. Construct run setFileHandle() witch do fopen(...,'a') and this creates empty file, even if I don't log() anything (on PHP7 to be precise).

First I thought of moving setFileHandle() outside constructor or playing with different than 'a' file open modes, but

[2018-05-14 13:41] MGParisi opened #92 "Failed to open stream: File Exists?"
Warning: fopen(C:\wamp64\www\xxxx\wp-temp\xxxx\logs\log_2018-05-14.txt): failed to open stream: File exists in C:\wamp64\www\xxxx\wp-content\plugins\xxxx\vendor\katzgrau\klogger\src\Logger.php on line 167

This is run through the earlier class and is attempting to open with an 'a' attribute.

[2018-05-14 13:43] MGParisi commented on #92
37 | 7.9236 | 78582472 | project\system\notify->__construct(  ) | ...\base.php:37
-- | -- | -- | -- | --
38 | 7.9236 | 78583560 | Katzgrau\KLogger\Logger->__construct(  ) | ...\notify.php:68
39 | 7.9238 | 78583656 | Katzgrau\KLogger\Logger->setFileHandle(  ) | ...\Logger.php:130
40 | 7.9238 | 78583656 | fopen (  ) | ...\Logger.php:167

Sorry, can not provide access..  I can say this is on a Window

[2018-07-09 14:09] flavienbwk commented on #84
It seems like there was no update since october 2017, but the problem is still here.

Thank you for solving this annoying problem !

[2018-07-09 14:18] onno-vos-dev commented on #84
@flavienbwk Sorry to sound negative here but perhaps you could consider fixing the issue? Any Open Source project stands and falls with the help of others creating a Pull Request to help resolve any open bugs or issues that are found.

The negative tone of "Thank **you** for solving this annoying problem !" isn't really necessary since you could easily try and resolve the issue and create a PR for

[2018-07-09 14:20] flavienbwk commented on #84
Oh, didn't want to sound negative, sorry for this!

[2018-09-07 08:12] wacki4 opened #94 "Bad premissions for file after create"
In class we can see
[code]
But, it only set permissions for path, not for created log file.

[2018-10-23 23:34] gabema commented on #84
Actually the sample code is incorrect. The following sample code will work to produce valid per-line JSON
[code]
The reason why this is needed is because the string '{context}' gets JSON encoded to double quotes. So after the logFormat has been serialized you should need to remove the double quotes that were added by the JSON serialization.

[2018-12-11 22:34] robot110011 opened #95 "can't stdout and log on file at same time"
I'm using this:

[code]

But for some reason, it's only logging on stdout and not saving on file
Any tip?

[2018-12-11 23:36] katzgrau commented on #95
The file opened for writing here would be  `php://stdout/[filename]` so it's likely just going to `stdout`. Writing to `stdout` and a file at the same time isn't a supported feature. But you could probably extend the class to do so.

[2018-12-11 23:36] #95 closed

[2019-02-27 16:33] cgapperi opened #96 "writing arrays"
From the first example it appears arrays should be written to log. When I try to include an array, I get

log shows

`[2019-02-27 10:30:01.878930] [info] Array
[2019-02-27 10:30:01.879091] [info] /data/Data_Cleaning/CvR/wip_pbin/file_cleaning/rename/NEX*
[2019-02-27 10:30:01.879139] [info] Found: nex
[2019-02-27 10:30:01.879228] [debug] Array
[2019-02-27 10:30:01.879385] [info] NEX_IMR_01012019 re

[2019-02-27 18:59] katzgrau commented on #96
Can you post an example of usage?

From the docs, the second params should accept objects/arrays:

`$logger->debug('Got these users from the Database.', $users);`

[2019-08-27 10:21] gian-hancock opened #97 "log method not PSR-3 compliant"
The PSR-3 specification states:

Currently calling `log` with any level not specified in PSR-3 will write the log regardless of the current log threshold and give an undefined index notice.

[2019-08-27 10:26] gian-hancock commented on #97
If it is intentional that the `log` method accepts arbitrary log levels, then it could be argued that this implementation "knows about" all log levels and therefore is PSR-3 compliant. In this case it could be documented and the code updated so that notices aren't generated. However it would still be true that the log level threshold would have no effect on non PSR-3 log levels.

[2020-01-24 10:46] butteredptarmigan commented on #94
I have encountered a related (and critical) issue. The file works as expected, but only until the destructor kicks in. It sabotages all the website (finished and properly working) and I had to manually modify the code for workaround, because it is the destructor after all, so no way I could catch it in an elegant manner.

[2020-03-08 13:22] GeorgeXiaojie opened #99 "How can i set the max size of a file?"
I have a domain process, it write all log to the same file until i restart my process.

[2021-03-14 23:00] DeveloperWil opened #101 "Timezone Support"
Can you add a function to use the server timezone or set the timezone on construct, rather than use UTC?

[2021-09-29 02:25] greedying commented on #99
I also want to know it

[2022-01-03 13:30] UweKeim opened #102 "Conversion deprecation warning with PHP 8.1"
When upgrading my project to PHP 8.1, I get tons of these warnings:

Looking at the source code, this is the excerpt:

[code]

So the error occurs in [this line 308](https://github.com/katzgrau/KLogger/blob/de2d3ab6777a393a9879e0496ebb8e0644066e3f/src/Logger.php#L308):

[code]

### My question

Are you planning to update your library to work without the warning?

If not, any other suggestions on h

[2022-01-04 15:59] kamilwylegala commented on #102
@UweKeim I also get many deprecation notices after upgrade to PHP 8.1.

@katzgrau Would you accept an pull request with fix?

[2022-01-10 19:41] katzgrau commented on #102
Hi @kamilwylegala , thanks for the suggestion — sure thing, submit it and I'll have a look

[2022-01-10 21:58] kamilwylegala commented on #102
Here is pull request, thanks in advance: https://github.com/katzgrau/KLogger/pull/103

[2022-07-28 16:42] UweKeim commented on #102
Still no progress on this 😭.

[2022-07-28 21:34] katzgrau commented on #102
Ha, sorry @UweKeim — merged in #103

[2022-07-29 05:39] UweKeim commented on #102
Thank you so much, @katzgrau.

Any chance that it also appears on https://packagist.org/packages/katzgrau/klogger in the near future, please?

[2022-07-29 20:45] katzgrau commented on #102
Yep, all set @UweKeim

[2022-07-29 20:45] #102 closed